<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <!-- <h1>{{pageTitle}}</h1> -->
    {{> header}}
    <p>some text here</p>
    {{> footer}}
<!--
    <footer>
      <p>Copyright {{cuurentYear}}</p>
    </footer> -->


  </body>
</html>
